.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
}

.title {
  font-size: 20px;

  font-weight: bold;
  color: #1D3A5F;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottomText {
  font-size: 12px;
  color: rgba(29, 58, 95, 0.5);
  font-weight: bold;
}

.link {
  color: rgb(29, 58, 95);
  margin-left: 5px;
}